@charset "utf-8";
/* CSS Document */

@font-face {
    font-family:"quicksand-regular";
	src:url(../font/Quicksand-Regular.otf) format("truetype");
}

@font-face {
    font-family:"quicksand-BOLD";
	src:url(../font/Quicksand-Bold.otf) format("truetype");
}

#contenedor {
	width:450px;
	height:400px;
	margin:0 auto;
	padding-top:25px;
}

#subcontenedor {
	width:93%;
	height:375px;
	margin:0 auto;
	margin-top:20px;
	padding-left:30px;
}

.texto {
	width:100%;
	height:20px;
	color:#46b6c4;
	text-align:center;
	display:inline-block;
	margin:0 auto;
	font-family:quicksand-regular;
	font-size:17px;
	font-weight:bold;
}

.texto2 {
	height:25px;
	color:#000000;
	padding-top:15px;
	display:inline-block;
	margin:0 auto;
	font-family:quicksand-regular;
	font-size:17px;
	font-weight:bold;
}

.campo_r {
	width:420px;
	height:30px;
	display:inline-block;
	font-family:quicksand-bold;
	font-size:17px;
	text-align:left;
	color:#46b6c4;
	border:none;
	padding-left:0.5em;
	margin:0 auto;
	margin-top:12px;
}

.btn_cerrar1 {
	width:101px;
	height:30px;
	margin:0 auto;
	background-image:url(../img/cerrar.jpg);
	cursor:pointer;
}

.btn_guardar {
	width:101px;
	height:30px;
	display:inline-block;
	margin-left:5px;
	margin-top:20px;
	background-image:url(../img/popup_usuario/guardar_chico.jpg);
	cursor:pointer;
}

.btn_cerrar {
	width:101px;
	height:30px;
	display:inline-block;
	margin-left:5px;
	margin-top:20px;
	background-image:url(../img/cerrar.jpg);
	cursor:pointer;
}

.btn_clave {
	width:167px;
	height:30px;
	margin-left:30px;
	display:inline-block;
	background-image:url(../img/popup_usuario/btn_clave.png);
	cursor:pointer;
}

.btn_pregunta {
	width:167px;
	height:30px;
	margin-left:10px;
	display:inline-block;
	background-image:url(../img/popup_usuario/btn_pregunta.png);
	background-position:right;
	background-repeat:no-repeat;
	cursor:pointer;
}

.btn {
	width:100%;
	margin:0 auto;
	margin-top:25px;
}



/* cambiar clave */

#contenedor_iframe {
	width:410px;
	height:450px;
	margin:0 auto;
	vertical-align:central;
	padding-top:35px;
}

h1 {
	color:#000000;
	font-family:quicksand-regular;
	text-align:center;
	font-size:17px;
}

.contenedor_frame2 {
	width:400px;
	height:300px;
	padding-left:3em;
	display:table-row;
	margin-left:10px;
}

.seccion1 {
	width:115px;
	height:200px;
	float:left;
	padding-top:10px;
}

.seccion2 {
	width:250px;
	height:200px;
	float:left;
	padding-top:10px;
}

.texto3 {
	width:300px;
	height:28px;
	color:#000000;
	padding-right:15px;
	padding-left:5px;
	display:inline-block;
	margin:0 auto;
}

p {
	font-family:quicksand-regular;
	font-size:16px;
	font-weight:bold;
}

.campo2 {
	width:220px;
	height:28px;
	display:inline;
	font-family:quicksand-regular;
	font-size:17px;
	font-weight:normal;
	background-color:#dfe4e7;
	color:#434242;
	border:none;
	margin-left:5px;
	padding-left:9px;
	margin-top: 5px;
}

.linea3 {
	width:250px;
	height:1.2em;
	float:left;
	margin-top:1px;
}

/* Cambio pregunta */

#contenedor2 {
	width:430px;
	height:450px;
	margin:0 auto;
}

.texto4 {
	width:400px;
	height:30px;
	color:#000000;
	padding-right:0.2em;
	padding-left:5px;
	display:inline-block;
	margin:0 auto;
}


.selectt {
	border:none;
	background:url(../img/icono_flecha_aselect.png) no-repeat right 1px #0EBACF !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
	cursor:pointer;
}

select::-ms-expand {
    display: none;
}

.cssmenu {
	height:35px;
	width:400px;
	margin-top:10px;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	line-height: 1;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#0EBACF;
	position: relative;
}
#cssmenu a {
	line-height: 1.3;
}

.campo_r2 {
	width:300px;
	height:30px;
	display:inline-block;
	font-family:quicksand-regular;
	font-size:17px;
	background-color:#dfe4e7;
	text-align:left;
	color:#434242;
	border:none;
	padding-left:0.5em;
	margin:0 auto;
	margin-top:12px;
}

.btn2 {
	width:400px;
	display:inline-block;
}

.error {
	height:1vw;
	display:inline-block;
	font-family:quicksand-regular;
	font-size:14px;
	background-color:transparent;
	text-align:left;
	color:#E30003;
	border:none;
	padding-left:0.5em;
	margin-right:15px;
	margin-top:3px;
}

.exito {
	height:1vw;
	display:inline-block;
	font-family:quicksand-bold;
	font-size:14px;
	background-color:transparent;
	text-align:left;
	color:#0099A9;
	border:none;
	margin-right:15px;
	margin-top:8px;
	margin-left: -15px;
}


.linea5 {
	width:380px;
	height:0.8em;
	float:left;
	margin-top:1px;
}