@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "quicksand";
    src:url(../font/Quicksand-Regular.otf) format("truetype");
}

h1 {
	color:#000000;
	font-family:quicksand;
	text-align:center;
	font-size:17px;
}

.texto {
	width:40px;
	height:28px;
	color:#000000;
	padding-right:0.2em;
	padding-left:5px;
	display:inline-block;
	margin:0 auto;
}

.texto2 {
	width:300px;
	height:28px;
	color:#000000;
	padding-right:15px;
	padding-left:5px;
	display:inline-block;
	margin:0 auto;
}

.texto3 {
	width:400px;
	height:28px;
	padding-left:10px;
	color:#35919D;
	padding-right:0.2em;
	display:inline-block;
	margin:0 auto;
}

.btn_guardar {
	width:101px;
	height:30px;
	display:inline-block;
	margin-left:5px;
	margin-top:20px;
	background-image:url(../img/guardar_chico.jpg);
	cursor:pointer;
}

.btn_cerrar {
	width:101px;
	height:30px;
	display:inline-block;
	margin-left:5px;
	margin-top:20px;
	background-image:url(../img/cerrar.jpg);
	cursor:pointer;
}

#contenedor_iframe {
	width:710px;
	height:400px;
	margin:0 auto;
}

p {
	font-family:quicksand;
	font-size:17px;
	font-weight:bold;
}

.contenedor_frame {
	width:700px;
	height:40px;
	padding-left:3em;
	display:table-row;
	margin-left:45px;
}

.contenedor_frame2 {
	width:700px;
	height:160px;
	padding-left:3em;
	display:table-row;
	margin-left:10px;
}

.seccion {
	width:315px;
	height:200px;
	float:left;
	padding-top:10px;
}

.campo {
	width:200px;
	height:30px;
	display:inline-block;
	font-family:quicksand;
	font-size:17px;
	background-color:#dfe4e7;
	text-align:left;
	color:#434242;
	border:none;
	padding-left:0.5em;
}

.campo2 {
	width:220px;
	height:28px;
	display:inline;
	font-family:quicksand;
	font-size:17px;
	font-weight:normal;
	background-color:#dfe4e7;
	color:#434242;
	border:none;
	margin-left:5px;
	padding-left:9px;
	margin-top:8px; 
}

.campo_pregunta {
	width:380px;
	height:30px;
	display:inline-block;
	font-family:quicksand;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
	background-color:transparent;
	color:#000000;
	border:none;
}
.campo_texto {
	width:300px;
	height:30px;
	font-family:quicksand;
	font-size:17px;
	color:#434242;
	background-color:#dfe4e7;
	margin:0 auto;
	float:left;
	border:none;
	margin-left:320px;
	padding-left:5px;
}

.caja_arrow2 {
	width:32px;
	height:32px;
	background: #2498a7;
	border:none;
	float:left;
	cursor:pointer;
}

#flecha2 {
	width:11px;
	height:19px;
	margin-left:12px;
	margin-top:6px;
	background-image:url(../img/icono_flecha.png);
	background-repeat:no-repeat;
}

.linea2 {
	width:350px;
	height:0.8em;
	float:left;
	margin-top:1px;
}

.linea3 {
	width:300px;
	height:0.8em;
	float:left;
	margin-top:1px;
	margin-left:320px;
}

.error {
	height:1vw;
	display:inline-block;
	font-family:quicksand;
	font-size:13px;
	background-color:transparent;
	text-align:left;
	color:#E30003;
	border:none;
	padding-left:0.5em;
	margin-right:15px;
	margin-top:3px;
}





	

