@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "quicksand-regular";
    src:url(../font/Quicksand-Regular.otf) format("truetype");
}

@font-face {
    font-family: "quicksand-bold";
    src:url(../font/Quicksand-Bold.otf) format("truetype");
}

p {
	font-family:quicksand-regular;
	text-align:left;
}

.menu_recepcion {
	width:100%;
	height:220px;
	background-color:#777d82;
	float:right;
	margin-top:4.5vw;
	position:absolute;
	
}

.texto_recepcion {
	width:160px;
	height:20px;
	font-size:12px;
	margin-left:15px;
	display:inline-block;
	line-height:12px;
}

/*Menu - botones izquierda */

.menu_item {
	width:100%;
	height:43px;
	background-color:#898f94;
	float:right;
	margin-top:1px;
	background-repeat:no-repeat;
	background-position:right;
	cursor:pointer;
	color:#FFF;
}

.menu_item_off {
	width:100%;
	height:43px;
	background-color:#49a5b1;
	float:right;
	margin-top:1px;
	background-repeat:no-repeat;
	background-position:right;
	color:#FFF;
}

.off6 {
	background-image:url(../img/btn/recepcion_paciente.png);
}

.off7 {
	background-image:url(../img/btn/pacientes_cita.png);
}

.off8 {
	background-image:url(../img/btn/pendiente_usuario.jpg);
}

.off9 {
	background-image:url(../img/btn/noaceptado_usuario.jpg);
}

.off0 {
	background-image:url(../img/btn/noaceptado_usuario.jpg);
}

.item6 {
	background-image:url(../img/btn/recepcion_paciente.png);
}

.item6:hover {
	background-color:#373a41;
	background-image:url(../img/btn/recepcion_paciente_over.png);
	color:#32b6c7;
}

.item6:active {
	background-color:#49a5b1;
	background-image:url(../img/btn/recepcion_paciente.png);
	color:#FFF;
}

.item7 {
	background-image:url(../img/btn/pacientes_cita.png);
}

.item7:hover {
	background-color:#373a41;
	background-image:url(../img/btn/pacientes_cita_over.png);
	color:#32b6c7;
}

.item7:active {
	background-color:#49a5b1;
	background-image:url(../img/btn/pacientes_cita.png);
	color:#FFF;
}

.item8 {
	background-image:url(../img/btn/buscar_atencion.png);
}

.item8:hover {
	background-color:#373a41;
	background-image:url(../img/btn/buscar_atencion_over.png);
	color:#32b6c7;
}

.item8:active {
	background-color:#49a5b1;
	background-image:url(../img/btn/buscar_atencion.png);
	color:#FFF;
}

.item9 {
	background-image:url(../img/btn/atn_pendientes_autorizar.png);
}

.item9:hover {
	background-color:#373a41;
	background-image:url(../img/btn/atn_pendientes_autorizar_over.png);
	color:#32b6c7;
}

.item9:active {
	background-color:#49a5b1;
	background-image:url(../img/btn/atn_pendientes_autorizar.png);
	color:#FFF;
}

.item0 {
	background-image:url(../img/btn/regresar.png);
}

.item0:hover {
	background-color:#373a41;
	background-image:url(../img/btn/regresar_over.png);
	color:#32b6c7;
}

.item0:active {
	background-color:#49a5b1;
	background-image:url(../img/btn/regresar.png);
	color:#FFF;
}

/*Termina Menu - botones izquierda */


/******************************************************* Responsive Design *******************************************************************/


@media screen and (min-width: 1280px) and (max-width: 1920px) {

}

@media screen and (min-width: 1086px) and (max-width: 1280px) {
	
.menu_recepcion {
	height:205px;
}

.texto_recepcion {
	width:140px;
	height:20px;
	font-size:10px;
	margin-left:13px;
}

.menu_item {
	width:100%;
	height:40px;
	background-size:41px;

}

.menu_item_off {
	width:100%;
	height:40px;
	background-size:41px;
}
}

@media screen and (min-width: 850px) and (max-width: 1086px) {

.menu_recepcion {
	height:205px;
}

.texto_recepcion {
	width:120px;
	height:20px;
	font-size:9px;
	margin-left:13px;
}

.menu_item {
	width:100%;
	height:40px;
	background-size:41px;

}

.menu_item_off {
	width:100%;
	height:40px;
	background-size:41px;
}

}

@media screen and (min-width: 480px) and (max-width: 850px) {
	
.menu_recepcion {
	height:195px;
}

.texto_recepcion {
	width:70px;
	height:20px;
	font-size:7px;
	margin-left:13px;
}

.menu_item {
	width:100%;
	height:38px;
	background-size:39px;

}

.menu_item_off {
	width:100%;
	height:38px;
	background-size:39px;
}
}

@media screen and (max-width: 480px) {
	
.menu_recepcion {
	height:195px;
}

.texto_recepcion {
	width:50px;
	height:20px;
	font-size:6px;
	margin-left:12px;
}

.menu_item {
	width:100%;
	height:38px;
	background-size:39px;

}

.menu_item_off {
	width:100%;
	height:38px;
	background-size:39px;
}
}
